.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}
/* đổi màu nền navbar */
nav#navbar-example2  {
    background-color: #ccc;
}
.nav-item:hover .nav-link  {
    background-color: white;
}

.main-content h1 {
    text-align: center;
}
.main-content .product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 10px;
}
.col-md-3.col-sm-6.col-12{
    align-items: center;
    margin:5px 0;
}
.price {
    font-size: 22px;
    display: block;
}
.btn.btn-primary {
    margin-top: 5px;
}

.pagination {
    justify-content: center;
}