.container{
    display: flex;
}

.col-md-5{
    margin: auto;
    padding: 0 16px;
    background-color: rgb(254, 251, 248);
}

.group{
    margin-bottom: 16px;
}
.submit{
    display: flex;
}
.submit input{
    margin: auto;
}
h2{
    text-align: center;
}
