
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #fff;
}

/* Grid: Hệ thống lưới: Có 12 column  */
.container{
    background-color: rgb(237, 209, 209);
    height: 200px;
    margin-bottom: 50px;
}

.block1{
    width: 100%;
    height:100px;
    background-color: rgb(140, 213, 91);
    margin-top: 20px;
}

.container-fluid{
    background-color: rgb(237, 209, 209);
    height: 200px;
}

.block2{
    width: 100%;
    height:100px;
    background-color: rgb(140, 213, 91);
    margin-top: 20px;

}